
.main-banner-p{
    position: relative;
    height: 100vh;
    width: 100vw;
    //background-image: url('../../../assets/img/dune.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    overflow: hidden;

    &__dark{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
    }

    .row{
        display: flex;
        align-items: center;
        height: 100%;
        z-index: 1;

        h2{
            color: #fff;
            font-size: 60px;
            font-weight: bold;
            line-height: 1;
        }

        h3{
            color: #fff;
            font-size: 24px;
        }
    }
}