
.main-banner-p{
    position: relative;
    height: 100vh;
    width: 100vw;
    //background-image: url('../../../assets/img/dune.jpg');
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    overflow: hidden;

    &__dark{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.1);
    }

    .row{
        display: flex;
        align-items: center;
        height: 100%;

        h2{
            color: #fff;
            font-size: 80px;
            font-weight: bold;
            line-height: 1;
            z-index: 1000;
        }

        h3{
            color: #d0d0d0;
            font-size: 24px;
        }
    }
}

@media (max-width: 600px) {
    .row{
        h2{
            color: #fff;
            font-size: 50px !important; 
            font-weight: bold;
            line-height: 1;
            z-index: 1000;
        }
    }
  }

  @media (max-width: 300px) {
    .row{
        h2{
            color: #fff;
            font-size: 30px !important; 
            font-weight: bold;
            line-height: 1;
            z-index: 1000;
        }
    }
  }