.servicios-home{
    height: 100%;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;

    &-titulo{
        h1{
            color: #fff;
        }
    }

    &-servicio{
        width: 100vw !important;
        height: 100%;
        background-color: transparent !important;
        border-style: none;
        display: flex;
        justify-content: center;



        .col, .col-sm-5, .col-lg-3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .card{
                padding: 0;
                margin: 0;
                margin-top: 30px;
                width: 100%;
                height: 650px;
                border-radius: 0;
                background-color: rgba(0, 0, 0, 0.5);
                box-shadow: 5px 10px 20px 1px rgba(86, 86, 86, 0.2) !important;
                -webkit-box-shadow: 5px 10px 20px 1px rgba(86, 86, 86, 0.2) !important;
                -moz-box-shadow: 5px 10px 20px 1px rgba(86, 86, 86, 0.2) !important;
                &:hover{
                    transform: scale(1.02);
                    transition: all 0.3s ease-in !important;
                    box-shadow: 5px 10px 20px 5px rgba(86, 86, 86, 0.6) !important;
                    -webkit-box-shadow: 5px 10px 20px 5px rgba(86, 86, 86, 0.6) !important;
                    -moz-box-shadow: 5px 10px 20px 5px rgba(86, 86, 86, 0.6) !important;
                }

                h2{
                    padding: 10px;
                    text-align: center;
                    color: #fff;
                }
        
                p{
                    padding: 10px;
                    font-size: small;
                    color: rgb(120, 120, 120);
                }

                &-img-top{
                    overflow: hidden;
                    height: 275px;

                    
                }
                img{
                    overflow: hidden;
                    min-height: 250px;
                }

                .btn{
                    background-color: transparent;
                    border-color: transparent;
                    span{
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }


        }
    }
}