.servicios-home{
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: start;

    &-titulo{
        h1{
            color: rgb(47, 47, 47);
        }
    }

    &-servicio{
        width: 100vw !important;
        height: 100% !important;
        background-color: transparent !important;
        border-style: none;
        display: flex;
        justify-content: center;

        div.more-btn{
            align-self: flex-end !important;
            justify-self: flex-end !important;
            width: 100% !important;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            opacity: 1;

        }

        .col, .col-sm-5, .col-lg-3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .card{
                margin: 0;
                padding: 0;
                border: none !important;
                margin-top: 30px;
                width: 100%;
                height: 650px;             
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 0 !important;
                box-shadow: 5px 10px 20px 1px  rgb(228, 228, 228) !important;
                -webkit-box-shadow: 5px 10px 20px 1px  rgb(228, 228, 228) !important;
                -moz-box-shadow: 5px 10px 20px 1px  rgb(228, 228, 228) !important;
                &:hover{
                    transform: scale(1.0);
                    transition: all 0.3s ease-in !important;
                    border-color: transparent !important;
                    border: none;
                    box-shadow: 5px 10px 20px 1px  rgb(0,0,0,0.3) !important;
                    -webkit-box-shadow: 5px 10px 20px 1px  rgb(0,0,0,0.3) !important;
                    -moz-box-shadow: 5px 10px 20px 1px  rgb(0,0,0,0.3) !important;

                }
            

                h3{
                    padding-top: 10px;
                    width: 100%;
                    text-align: center;
                    color: rgb(77,77,77);
                }
        
                p{
                    padding: 10px;
                    font-size: 15px !important;
                    font-size: small;
                    color: rgb(120, 120, 120);
                }

                &-img-top{
                    overflow: hidden;
                    height: 275px;

                    
                }
                img{
                    overflow: hidden;
                    min-height: 250px;

                }

                .btn{
                    background-color: transparent !important;
                    border-color: transparent;
                    color: transparent;

                    
                    span{
                        color: rgb(77,77,77);
                    }
                    
                    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0) !important;
                    -webkit-box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0) !important;
                    -moz-box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0) !important;
                    &:hover{
                        color: rgb(77,77,77);
                        transform: scale(1.02);
                        border-color: transparent;
                        transition: all 0.3s ease-in !important;
                        box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3) !important;
                        -webkit-box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3) !important;
                        -moz-box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3) !important;
                    }
                }
            }


        }
    }
}
