.servicios-home{
    height: 100%;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-titulo{
        h1{
            color: #fff;
        }
    }

    &-servicio{
        width: 100vw !important;
        height: 100%;
        background-color: transparent !important;
        border-style: none;

        h2{
            color: #fff;
        }

        p{
            color: rgb(120, 120, 120);
        }

        .col{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}