nav.navbar-dark{
  background-color: black !important;
}

a.nav-link{
  color: rgb(215, 215, 215);
  &:hover{
    color: rgb(255, 255, 255) !important;
  }
}

a.active{
  color: rgb(255,255,255);
}

nav.bg-light {
    background-color: white !important;
  }
  
  .logo-navbar{
    height: 40px;
    margin: 0;
    padding: 0;
    padding-left: 30px;
  }
  
  @media (max-width: 991px) {
    a.nav-link {
      color: black;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    a{
      padding-left: 6px !important;
    }
  }


  @media (max-width: 500px) {

    .offcanvas{
      width: 80% !important;
    }
  }
  