.clientes-home{
    min-height: 100vh;
    width: 100vw;
    
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    &-titulo{
        h1{
            color: rgb(255,255,255);
            padding-bottom: 30px;
        }
    }
}

.col-md-3, .col-sm-6, .col-md-3{
    display: flex;
    justify-content: center;
}
.client-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 15rem;
    margin-bottom: 20px;
    margin-top: 15px;
    border: none;
    border-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: 5px 10px 20px 1px  rgb(0, 0, 0) !important;
    -webkit-box-shadow: 5px 10px 20px 1px  rgb(0, 0, 0) !important;
    -moz-box-shadow: 5px 10px 20px 1px  rgb(0, 0, 0) !important;
    &:hover{
        transform: scale(1.02);
        transition: all 0.3s ease-in !important;
        border-color: transparent !important;
        border: none;
        box-shadow: 5px 10px 20px 1px  rgb(0,0,0,0.3) !important;
        -webkit-box-shadow: 5px 10px 20px 1px  rgb(0,0,0,0.3) !important;
        -moz-box-shadow: 5px 10px 20px 1px  rgb(0,0,0,0.3) !important;

    }

    &-overlay{
        opacity: 0;
        transition: all 0.3s ease-in !important;
        margin: 0;
        padding: 0;
        .btn{
            background-color: transparent !important;
            color: transparent;

            span{
                color: rgb(77,77,77);
            }

            &:hover{
                color: rgb(77,77,77);
            }
        }

        :hover > & {
            opacity: 1;
            transition: all 0.2s ease-out !important;
        }
    }

    &-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &-logo{
        max-width: 8rem;
        max-height: 8rem;
    }
}

@media (max-width: 950px) {
    .client-card{
        width: 15rem;
        height: 12rem;
        
        .btn{
            background-color: transparent !important;
            color: transparent;
            span{
                color: rgb(77,77,77);
                
            }

            .fa-arrow-right{
                height: 0px;
            }

            &:hover{
                color: rgb(77,77,77);
            }
        }

        :hover > & {
            opacity: 1;
            transition: all 0.2s ease-out !important;
        }
    }
}

@media (max-width: 200px) {
    .client-card{
        width: 8rem;
        height: 8rem;
        .btn{
            background-color: transparent !important;
            color: transparent;
            span{
                color: rgb(77,77,77);
            }
            .fa-arrow-right{
                height: 0px;
            }

            &:hover{
                color: rgb(77,77,77);
            }
        }

        :hover > & {
            opacity: 1;
            transition: all 0.2s ease-out !important;
        }

        &-logo{
            max-width: 5rem;
            max-height: 5rem;
        }
    }
}