.footer{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100%;
    padding-bottom: 20px;
    background-color: rgb(0,0,0);

    &-row{
        display: flex;

        &-col{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            h1{
                color: rgb(255,255,255);
            }
        }
    }
}

//Social Media
.social-media{
    display: flex;
    justify-content: center;
    text-decoration: none;

    a{
        padding: 15px;
        color: rgb(182, 182, 182);
        &:hover{
            
            color: rgb(255,255,255);
        }
        .svg-inline--fa{
            height: 40px !important;
        }  
    }
}
@media (max-width: 950px) {
    .social-media{
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding-top: 20px;
    
        a{
            padding: 15px;
            color: rgb(255,255,255);
            &:hover{
                
                color: rgb(255,255,255);
            }
            .svg-inline--fa{
                height: 40px !important;
            }  
        }
    }
}

//contact info
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    a{
        text-decoration: none;
        padding: 10px;
        color: rgb(105, 105, 105);
        &:hover{
            
            color: rgb(255,255,255);
        }
        .svg-inline--fa{
            height: 40px !important;
        }  
    }
}

@media (max-width: 950px) {
    .contact-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        a{
            text-decoration: none;
            padding: 10px;
            color: rgb(181, 181, 181);
            &:hover{
                
                color: rgb(255,255,255);
            }
            .svg-inline--fa{
                height: 40px !important;
            }  
        }
    }
}

//Logo
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: black;
  
    &-logo{
      height: 40px;
      width: auto;
      margin: 0;
      padding: 0; 
    }
  }


