.nosotros-home{
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: flex-start;


    &-titulo{
        h1{
            color: rgb(47,47,47);
        }
    }

    &-caption{
        width: 80vw !important;
        text-align: center;

        p{
            color: rgb(77, 77, 77);;
        }
        .btn{
            background-color: transparent;
            border-color: transparent;
            span{
                color: rgba(255, 255, 255);
                
            }
            background-color: rgba(77,77,77) !important;
            box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0) !important;
            -webkit-box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0) !important;
            -moz-box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0) !important;
            &:hover{
                
                transform: scale(1.02);
                border-color: transparent;
                transition: all 0.3s ease-in !important;
                box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3) !important;
                -webkit-box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3) !important;
                -moz-box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3) !important;
            }

            &:active, &::after, &::before, &::selection{
                border-color: transparent !important;
                background-color: rgba(255, 255, 255, 0.5) !important;
            }
        }
    }

    &-stats{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw !important;

        .col-md-3, .col-12{
            display: flex;
            justify-content: center;
        }
    }
}

.nosotros-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
    height: 8rem;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-color: transparent !important;
    box-shadow: 5px 10px 20px 1px rgba(86, 86, 86, 0) !important;
    -webkit-box-shadow: 5px 10px 20px 1px rgba(86, 86, 86, 0) !important;
    -moz-box-shadow: 5px 10px 20px 1px rgba(86, 86, 86, 0) !important;
    
    &:hover{
        transform: scale(1.0);
        transition: all 0.3s ease-in !important;

     
    }

    &-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;

    }



    &-logo{
        max-width: 9rem;
        max-height: 9rem;
    }
}

.card-title{
    color: rgb(47,47,47);
    font-size: 2rem !important;
}
.card-subtitle{
    color: rgb(77, 77, 77);
    font-size: 50px;
}

@media (max-width: 950px) {
    .nosotros-card{
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 300px) {
    .nosotros-card{
        width: 7rem;
        height: 7rem;

        &-logo{
            max-width: 5rem;
            max-height: 5rem;
        }
    }
}
