.contacto-home{
    min-height: 30vh;
    width: 100vw;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;


    &-titulo{
        h1{
            color: rgb(255,255,255);
        }
    }
    &-row{
        display: flex;
        align-items: center;
        justify-items: center;
        min-height: 30vh;
    
        &-col, .col-md-6, .col-12{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            h1{
                text-align: center;
                color: rgb(255,255,255);
            }
        }
    }
}

.social-media-home{
    min-width: 50vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &-link{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none; 

        a{
            padding: 15px;
            color: rgb(215,215,215);
            &:hover{
                
                color: rgb(255,255,255);
            }
            .svg-inline--fa{
                height: 40px !important;
            }  
        }       
    }

}

//contact info
.contact-info-home{
    min-width: 50vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    a{
        font-size: 20px ;
        text-decoration: none;
        padding: 10px;
        color: rgb(105, 105, 105);
        &:hover{
            
            color: rgb(0, 0, 0);
        }
        .svg-inline--fa{
            height: 40px !important;
        }  
    }
}
