.brand-card{
    min-height: 400px;
    max-height: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    border-color: transparent !important;
    box-shadow: 5px 10px 20px 1px  rgb(228, 228, 228) !important;
    -webkit-box-shadow: 5px 10px 20px 1px  rgb(228, 228, 228) !important;
    -moz-box-shadow: 5px 10px 20px 1px  rgb(228, 228, 228) !important;

    img{
        max-height: 90%;
        max-width: 90%;
    }
}


//Vehicules data
.brand-data{
    min-height: 30vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-stats{
        min-height: 50%;
        min-width:100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2, p{
            text-align: center;
        }

        h2{
            color: rgb(47,47,47);
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        P{
            color: rgb(77,77,77);
            font-size: medium;
            font-weight: normal;
        }

        ul{
            list-style: none;
            li{
                font-family: Arial, Helvetica, sans-serif;
                font-size: large;
                font-weight: normal;
                margin-top: 6px;
            }   
        }

        &-year-2020, &-year-2021{
            font-weight: bolder;
            color: black;

        }
    }

    &-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;
    }
}

a.nav-link.active{
    background-color: rgb(0, 149, 255) !important;
    color: white !important;
}

@media (max-width: 900px) {
    .brand-data{
        &-stats{
            max-width: 80%;
        }
    }
    .brand-card{
        height: 90% !important;
    }
}

.brands-card-row{
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}